<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.adorer.admin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="registTime" column="regist_time" jdbcType="TIMESTAMP"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id,
               username,
               avatar,
               nickname,
               password,
               gender,
               email,
               mobile,
               status,
               regist_time,
               login_time,
               del_flag
        from tb_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tb_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="User" useGeneratedKeys="true">
        insert into tb_user
        ( id, username, avatar
        , nickname, password, gender
        , email, mobile, status
        , regist_time, login_time, del_flag)
        values ( #{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}
               , #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}
               , #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
               , #{registTime,jdbcType=TIMESTAMP}, #{loginTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="User"
            useGeneratedKeys="true">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="avatar != null">avatar,</if>
            <if test="nickname != null">nickname,</if>
            <if test="password != null">password,</if>
            <if test="gender != null">gender,</if>
            <if test="email != null">email,</if>
            <if test="mobile != null">mobile,</if>
            <if test="status != null">status,</if>
            <if test="registTime != null">regist_time,</if>
            <if test="loginTime != null">login_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="avatar != null">#{avatar,jdbcType=VARCHAR},</if>
            <if test="nickname != null">#{nickname,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="gender != null">#{gender,jdbcType=TINYINT},</if>
            <if test="email != null">#{email,jdbcType=VARCHAR},</if>
            <if test="mobile != null">#{mobile,jdbcType=VARCHAR},</if>
            <if test="status != null">#{status,jdbcType=TINYINT},</if>
            <if test="registTime != null">#{registTime,jdbcType=TIMESTAMP},</if>
            <if test="loginTime != null">#{loginTime,jdbcType=TIMESTAMP},</if>
            <if test="delFlag != null">#{delFlag,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="User">
        update tb_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="registTime != null">
                regist_time = #{registTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="User">
        update tb_user
        set username    = #{username,jdbcType=VARCHAR},
            avatar      = #{avatar,jdbcType=VARCHAR},
            nickname    = #{nickname,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            gender      = #{gender,jdbcType=TINYINT},
            email       = #{email,jdbcType=VARCHAR},
            mobile      = #{mobile,jdbcType=VARCHAR},
            status      = #{status,jdbcType=TINYINT},
            regist_time = #{registTime,jdbcType=TIMESTAMP},
            login_time  = #{loginTime,jdbcType=TIMESTAMP},
            del_flag    = #{delFlag,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
